
body{
    font-family: 'Lato', sans-serif;
              font-family: 'Open Sans', sans-serif;
    
  }
 
  .btn-primary{
  
    color: white;
     font-size: 20px;
    padding: 20px 20px;
     font-weight: 700;
     background-color: #E55473;
     border-radius: 8px;
  }


  /* header styles */
  .header{
      background-color:#E554731A;
  
  }
  .banner{
      padding: 30px 30px 0px 150px  ;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #E554731A;
  }
  .banner-content{
      max-width: 500px;
  }
  .banner .profile-pic{
      width: 500px;
  }
 
  .banner-title
  {
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      margin-top: 5px;
      margin-bottom: 20px
  }
  /* main */
  .text-main{
    color: #272727;
font-size: 40px;
text-align: center;
font-weight: 800;

  }
main p{
    
   
color: #272727;
 font-size: 23px;
text-align: center;
 font-weight: 400;
 

}

/* third banner */
.third-banner{
    background-color:#2727270D ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 180px;
    width: 1000px;
    height: 320px;
    margin: auto;
    text-align: center;


}
.img-a{
    text-align: center;
    
}
.img-b{
    text-align: center;

}
.img-c{
    text-align: center;
}
/* four .banner */
.four-banner{
   display: flex;
      align-items: center;
      justify-content: space-between;
    margin: 0px 150px;
     background-color:#E554731A;
}
.four-banner p{
    color: #272727;
    font-size: 18px;
   
    font-weight: 400;
}

.four-banner .profile-pic{
    width: 500px;
}
/* five banner */
.text-five{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
  
}
.five-banner p{
    color: #272727;
font-size: 18px;
font-weight: 400;
text-align: center;
}
.col{
    flex-basis: 100%;
}
.card{

    float:left;
    margin: 20px;
    margin-right:40px ;
    list-style: none;
    align-items: center;
}
.card{
    
    width: 200px;
    height: 230px;
    display: inline-block;
    align-items: center;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin:10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    


}
.card1{
    background-image: url('../image/Flower\ 01.png');
}
.card2{
    background-image: url('../image/Rectangle\ 4.png');
}
.card3{
    background-image: url('../image/Rectangle\ 5.png ');
}
.card4{
    background-image: url('../image/Rectangle\ 6.png ');
}
/* six banner */
.six-banner{
  background-image: url('../image/Rectangle\ 9.png');
  background-repeat: no-repeat;
  width: 1400px;
  height: 500px;
  margin: auto;
  border-radius: 5px;
}
.six-text{
    color: #272727;
font-size: 40px;
font-weight: 800;
text-align: center;
}
.six-banner p{
    color:#272727;
font-size: 18px;
text-align: center;
font-weight: 400;

}
.email{
     border-radius: 5px;
     width: 500px;
     padding: 14px;
     margin: auto;
     font-size: 17px;
     
}
.subscribe-primary{
    color: white;
font-size: 20px;
background-color: #E55473;
font-weight: 700;
text-align: center;
padding: 12px;
}
.ep{
    text-align: center;
}
footer{
    background-color: black;
    height: 400px;
}
.flower{
    
color: #E55473;
 font-size: 48px;
 font-weight: 800;

}
.flower-shop{
color: white;
 font-size: 48px;
 font-weight: 800;
 text-align: center;

}
.footer p{
    color: #fff;
    font-size: 18px;
font-weight: 400;
text-align: center;

}
.footer h5{
    color: wheat;
font-size: 16px;
font-weight: 400;
text-align: center;

}


